html, body {
  width : 100%;
  height : 100%;
  padding : 0;
  margin : 0;
}

#root{
  width: 100%;
  height: 100%;
  background-color: rgb(183, 196, 207);
  display : flex;
  justify-content: center;
  align-items: center;
}

#clock-timer{
  background-color: antiquewhite;
  width : 60%;
  height : 50%;
  display: flex;
  flex-direction: column;
}

#Title{
  flex-basis : 20%;
  width : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}